################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BasicClassMembers_01/obj
/BasicClassMembers_01/bin/Debug
/BaseConcepts_02/BaseConcepts_02.csproj
