################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BasicClassMembers_01/obj
/BasicClassMembers_01/bin/Debug
/.vs/Lab02_Solution/v14
